<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur10e_robotiq">
  <xacro:arg name="ur_type" default="ur10e"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="include_ros2_control" default="false"/>
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="use_fake_mode" default="true"/>
  <xacro:arg name="ft_xyz" default="0 0 0"/>
  <xacro:arg name="ft_rpy" default="0 0 0"/>
  <xacro:arg name="gripper_xyz" default="0 0 0"/>
  <xacro:arg name="gripper_rpy" default="-3.1415 0 0"/>
  <xacro:arg name="tcp_xyz" default="0 0 0.15"/>
  <xacro:arg name="tcp_rpy" default="0 0 0"/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find ur_robot_driver)/urdf/ur.ros2_control.xacro"/>
  <xacro:include filename="$(find robotiq_ft_sensor_description)/urdf/robotiq_ft300.urdf.xacro"/>
  <xacro:include filename="$(find robotiq_ft_sensor_description)/urdf/robotiq_fts.ros2_control.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>

  <link name="world"/>

  <xacro:ur_robot
    name="ur"
    tf_prefix=""
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <xacro:robotiq_ft300 parent="tool0" tf_prefix="">
    <origin xyz="$(arg ft_xyz)" rpy="$(arg ft_rpy)"/>
  </xacro:robotiq_ft300>

  <xacro:robotiq_gripper
    name="robotiq_2f85"
    prefix=""
    parent="ft300_sensor"
    include_ros2_control="$(arg include_ros2_control)"
    use_fake_hardware="$(arg use_fake_hardware)">
    <origin xyz="$(arg gripper_xyz)" rpy="$(arg gripper_rpy)"/>
  </xacro:robotiq_gripper>

  <link name="gripper_tcp"/>
  <joint name="robotiq_85_base_link-gripper_tcp" type="fixed">
    <parent link="robotiq_85_base_link"/>
    <child link="gripper_tcp"/>
    <origin xyz="$(arg tcp_xyz)" rpy="$(arg tcp_rpy)"/>
  </joint>

  <xacro:if value="$(arg include_ros2_control)">
    <xacro:ur_ros2_control
      name="ur"
      tf_prefix=""
      kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
      robot_ip="$(arg robot_ip)"
      script_filename="$(find ur_client_library)/resources/external_control.urscript"
      input_recipe_filename="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"
      output_recipe_filename="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"
      ur_type="$(arg ur_type)"
      use_mock_hardware="$(arg use_mock_hardware)"/>
    <xacro:robotiq_fts_ros2_control
      name=""
      tf_prefix=""
      use_fake_mode="$(arg use_fake_mode)"/>
  </xacro:if>
</robot>
